/*blue = #70A8A9*/
/*lightBlue = #B9CEC5*/
/*lightBrown = #F7E1A8*/
/*brown = #9B5F2B*/
/*darkBrown = #2B0F0E*/
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.Restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.Restaurant h2 {
  font-size: 96px;
}
.Restaurant button {
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #E8C300;
  border-style: none;
}
.Restaurant button a {
  text-decoration: none;
  color: white !important;
}
